body,
textarea,
input {
	font: 13px "Lucida Console", Courier;
	color: #6F4E37;
}

h1 {
	margin:20;
	text-align: center;
}
.chat {
	max-width: 250px;
	margin:0 auto;
}

.chatStatus,
.chatName,
.chatTextarea,
.chatMessages {
	border:2px solid #6F4E37;
	background-color: #ADD8E6;
}

.chatMessages {
	width: 100%;
	height: 250px;
	overflow-y:scroll;
	padding: 8px;
}

.chatMessage {
	margin-bottom: 10px;
}

.chatName {
	width: 100%;
	padding: 8px;
	border-bottom: 0;
	margin: 0;
}

.chatTextarea {
	width: 100%;
	padding: 8px;
	margin: 0;
	border-top:0;
	max-width: 100%;
}

.chatStatus {
	margin: 0;
}

.chatTextarea,
.chatName {
	outline:none;
}