body,
textarea,
input {
	font: 13px "Lucida Console", Courier;
	color: #6F4E37;
}

h1 {
	margin:20;
	text-align: center;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
    flex: 1 0 auto;
    position: relative;
  }


.chatWrapper .chat {
	max-width: 250px;
	position: absolute;
	top: 50%;
	left: 50%;
	height: 365px;
	width: 250px;
	margin:-182px 0 0 -125px;
	
}

.chatWrapper .chatStatus,
.chatWrapper .chatName,
.chatWrapper .chatTextarea,
.chatWrapper .chatMessages {
	border:2px solid #6F4E37;
}

.chatWrapper .chatMessages {
	width: 100%;
	height: 250px;
	overflow-y:scroll;
	padding: 8px;
}

.chatWrapper .chatMessage {
	margin-bottom: 10px;
}

.chatWrapper .chatName {
	width: 100%;
	padding-left: 8px;
	border-bottom: 0;
	margin: 0;
	width: 238px;

}

.chatWrapper .chatTextarea {
	width: 100%;
	padding: 8px;
	padding-top: 14px;
	margin: 0;
	border-top:0;
	max-width: 100%;
}

.chatWrapper .chatStatus {
	margin: 0;
}

.chatWrapper .chatTextarea,
.chatWrapper .chatName {
	outline:none;
}